<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{% if page.description == null %}{{ site.description }}{% else %}{{ page.description }}{% endif %}" />
    <meta name="keywords" content="曾屹,{% if page.tags != null %}{{ page.tags | join: ',' }}{% else %}软件,工程师,测试,基督城,新西兰{% endif %}" />
    {% if page.url == "/404.html" %}<meta http-equiv="refresh" content="5; url=/">{% endif %}
    <title>{% if page.url != "/index.html" %} {{ page.title }} - {% endif %}{{ site.title }}</title>

    <link href='/assets/css/style.css' rel="stylesheet" type="text/css">
    <link href="/rss.xml" rel="alternate" title="{{ site.title }}" type="application/rss+xml">

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
        <script>window.Modernizr || document.write('<script src="/assets/js/modernizr-2.0.6.min.js"><\/script>')</script>
    <![endif]-->
    <!--[if gte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script>window.Modernizr || document.write('<script src="/assets/js/modernizr-2.6.2.min.js"><\/script>')</script>
    <![endif]-->
    <!--[if !IE]> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script>window.Modernizr || document.write('<script src="/assets/js/modernizr-2.6.2.min.js"><\/script>')</script>
    <!-- <![endif]-->
</head>

<body>
    <!--[if lt IE 9]>
        <p class="chromeframe">您正在使用过时的浏览器. 请<a href="http://browsehappy.com/">升级</a>或<a href="http://www.google.com/chromeframe/?redirect=true">开启 Google Chrome Frame</a> 来提升使用体验。</p>
    <![endif]-->
    <div id="page" class="hentry">
        <header class="the-header">
            <div class="unit-head">
                <div class="unit-inner unit-head-inner">
                    <nav class="nav-global">
                        <ul>
                            <li class="logo"><a href="/">{{ site.title }}</a></li>
                            <li class="article"><a href="/articles">文章列表</a></li>
                            <li class="note"><a href="/notes">笔记列表</a></li>
                            <li class="category"><a href="/categories">博文分类</a></li>
                            <li class="tag"><a href="/tags">博文标签</a></li>
                        </ul>
                    </nav>
                </div><!-- unit-inner -->
            </div><!-- unit-head -->
        </header>

        <div class="body" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div><!-- unit-inner -->
            </div><!-- unit-body -->
        </div><!-- body -->

        <footer class="the-footer">
            <div class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <div class="misc vcard">
                        <h4><a href="/about">关于</a></h4>
                        <p>本站译自 <a href="http://yizeng.me">yizeng.me</a></p><br />
                        <a href="/rss.xml" rel="me">
                            <img src='/assets/images/flat-no-flat-social-icons/RSS-32.png' alt="曾屹的 rss feeds" height="36" width="36">
                        </a>
                    </div><!-- misc -->
                    <!--p class="licence"></p-->
                </div><!-- unit-foot-inner -->
            </div><!-- unit-foot -->
        </footer>
    </div><!-- page -->

    {% if page.js_utils != null %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.10.2.min.js"><\/script>')</script>

        {% if page.js_utils contains "fancybox" %}
            <script src="/assets/js/fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>
            <script src="/assets/js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

            <script type="text/javascript">
                $("head").append('<link rel="stylesheet" href="/assets/js/fancybox/jquery.fancybox.css?v=2.1.4" type="text/css" />');
                $("head").append('<link rel="stylesheet" href="/assets/js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" />');
                $(".post-image").fancybox({
                    prevEffect      : 'none',
                    nextEffect      : 'none',
                    closeBtn        : true,
                    helpers     : {
                        title   : { type : 'inside' },
                        buttons : {}
                    }
                });
            </script>
        {% endif %}

        {% if page.js_utils contains "unveil" %}
            <script src="/assets/js/unveil/jquery.unveil.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".post-image > img").unveil(150);
                });
            </script>
        {% endif %}

        {% if page.js_utils contains "toc" %}
            <script type="text/javascript">
                function createListItem(heading) {
                    var link = "#" + heading.children("a").attr("id");
                    return "<li>" + "<a href='" + link + "'>" + heading.text() + "</a>" + "</li>";
                }

                var ToC = "<nav role='navigation' class='toc'><ol>";
                $("article h2").each(function () {
                    var secondHeading, thirdHeadingInside;

                    secondHeading = $(this);
                    ToC += createListItem(secondHeading);

                    thirdHeadingInside = secondHeading.nextUntil("article h2", "h3");
                    if (thirdHeadingInside.length !== 0) {
                        ToC += "<ul>";
                        thirdHeadingInside.each(function () {
                            ToC += createListItem($(this));
                        });
                        ToC += "</ul>";
                    }
                });
                ToC += "</ol>" + "</nav>";

                $("#toc").prepend(ToC);
            </script>
        {% endif %}
    {% endif %}

    {% include JB/analytics %}
</body>
</html>
