<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{% if page.description == null %}{{ site.description }}{% else %}{{ page.description }}{% endif %}" />
    <meta name="keywords" content="yizeng,{% if page.tags != null %}{{ page.tags | join: ',' }}{% else %}software,engineer,testing,christchurch,newzealand{% endif %}" />
    {% if page.url == "/404.html" %}<meta http-equiv="refresh" content="5; url=/">{% endif %}
    <title>{% if page.url != "/index.html" %} {{ page.title }} - {% endif %}{{ site.title }}</title>

    <link href='/assets/css/style.css' rel="stylesheet" type="text/css">
    <link href="/rss.xml" rel="alternate" title="{{ site.title }}" type="application/rss+xml">

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
        <script>window.Modernizr || document.write('<script src="/assets/js/modernizr-2.0.6.min.js"><\/script>')</script>
    <![endif]-->
    <!--[if gte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script>window.Modernizr || document.write('<script src="/assets/js/modernizr-2.6.2.min.js"><\/script>')</script>
    <![endif]-->
    <!--[if !IE]> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script>window.Modernizr || document.write('<script src="/assets/js/modernizr-2.6.2.min.js"><\/script>')</script>
    <!-- <![endif]-->
</head>

<body>
    <!--[if lt IE 9]>
        <p class="chromeframe">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="page" class="hentry">
        <header class="the-header">
            <div class="unit-head">
                <div class="unit-inner unit-head-inner">
                    <nav class="nav-global">
                        <ul>
                            <li class="logo"><a href="/">{{ site.title }}</a></li>
                            <li class="article"><a href="/articles">articles</a></li>
                            <li class="note"><a href="/notes">notes</a></li>
                            <li class="category"><a href="/categories">categories</a></li>
                            <li class="tag"><a href="/tags">tags</a></li>
                        </ul>
                    </nav>
                </div><!-- unit-inner -->
            </div><!-- unit-head -->
        </header>

        <div class="body" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div><!-- unit-inner -->
            </div><!-- unit-body -->
        </div><!-- body -->

        <footer class="the-footer">
            <div class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <div class="misc vcard">
                        <h4><a href="/about">about</a></h4>
                        <p>Software developer/Test automator based in Christchurch, New Zealand.</p><br />
                        <a href="/rss.xml" rel="me">
                            <img src='/assets/images/flat-no-flat-social-icons/RSS-32.png' alt="Yi Zeng's rss feeds" height="36" width="36">
                        </a>
                        <a href="http://github.com/{{ site.author.github }}/" rel="me">
                            <img src='/assets/images/flat-no-flat-social-icons/Github-32.png' alt="Yi Zeng's Github page" height="36" width="36">
                        </a>
                        <a href="http://last.fm/user/{{ site.author.lastfm }}/" rel="me">
                            <img src='/assets/images/flat-no-flat-social-icons/LastFM-32.png' alt="Yi Zeng's Last.fm page" height="36" width="36">
                        </a>
                        <a href="http://linkedin.com/in/{{ site.author.linkedin }}/" rel="me">
                            <img src='/assets/images/flat-no-flat-social-icons/LinkedIn-32.png' alt="Yi Zeng's LinkedIn page" height="36" width="36">
                        </a>
                        <a href="http://stackoverflow.com/users/1177636/user1177636" rel="me">
                            <img src='/assets/images/flat-no-flat-social-icons/StackOverFlow-32.png' alt="Yi Zeng's StackOverflow page" height="36" width="36">
                        </a>
                    </div><!-- misc -->
                    <!--p class="licence"></p-->
                </div><!-- unit-foot-inner -->
            </div><!-- unit-foot -->
        </footer>
    </div><!-- page -->

    {% if page.load_js_utils == true %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.10.2.min.js"><\/script>')</script>
        <script type="text/javascript" src="/assets/js/load_image_tools.js"></script>
    {% endif %}
    {% include JB/analytics %}
</body>
</html>
