---
layout: page
title : All Posts
header : All Posts
group: navigation
change_frequency: daily
priority: 1.0
---
{% include JB/setup %}

{% assign posts_collate = site.categories.articles %}
{% assign show_category = true %}
{% assign show_year = false %}
{% include JB/posts_collate %}

{% assign posts_collate = site.categories.notes %}
{% assign show_category = true %}
{% assign show_year = false %}
{% include JB/posts_collate %}

{% assign posts_collate = site.categories.random %}
{% assign show_category = true %}
{% assign show_year = false %}
{% include JB/posts_collate %}