$fonts-header: 'Nova Square', Verdana, Tahoma, monospace;
$fonts-body: 'Exo 2', consolas, Monaco, monospace;
$fonts-code: 'Lucida Console', Consolas, monospace, 'DejaVu Sans Mono', serif;

$color-text: #2D2D2D;
$color-hover: #FF9900;
$color-hover-transparent: rgba(255, 153, 0, 0.7);
$color-meta-link-hover: #797979;

$color-box-border: #DDDDDD;
$color-code-background: #272822;
$color-inline-code-background: #DDDDDD;
$color-linenos-background: #4B4B4B;